/* Desktop default */

/* < 1200px */
@media (max-width: 1199px) {
}

/*  Tablet < 992px */
@media (max-width: 991px) {
  .navLinks {
    display: none;
  }
}

/* Large Mobile < 768px */
@media (max-width: 767px) {
}

/* Small Mobile < 576px */
@media (max-width: 575px) {
}
