/* GoogleFont Import [Inter] */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* RootElements | Start */
:root {
    /* Brand Colors */
  --color-primary: #7c5cff;
  --color-secondary: #22c55e;
  --gradient-primary: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);

  /* Background Colors */
  --color-bg-main: #1A0B2E;
  --color-bg-section: #230E3D;
  --color-bg-card: #2A0F4D;

  /* Text Colors */
  --color-text-primary: #ffffff;
  --color-text-secondary: #A89EB4;
  --color-text-muted: #E8E7EA;

  /* Border & Divider */
  --color-border: #412567;

  /* Shadow */
  --shadow-sm: 0 4px 10px rgba(0, 0, 0, 0.25);
  --shadow-md: 0 10px 30px rgba(0, 0, 0, 0.35);

  /* Transition */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
}

/* RootElements | End */

/* CommonStyle | Start  */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primaryCta {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 12px 16px;
  border-radius: 50px;
  border: 1px solid transparent;

  background: var(--gradient-primary);
  color: #ffffff;

  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;

  cursor: pointer;
  transition: transform 0.3s ease;
}

.primaryCta:hover {
  transform: translateY(-3px);
  border: 1px solid var(--color-secondary);
}

/* Secondary Button */

.secondaryCta {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 12px 16px;
  border-radius: 50px;

  background: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  transition: transform 0.3s ease;

  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;

  cursor: pointer;
}

.secondaryCta:hover {
  background: rgba(255, 255, 255, 0.05);
  border-color: var(--color-primary);
  transform: translateY(-3px);
}


body {
    background-color: var(--color-bg-main);
    color: var(--color-text-primary);
}
/* CommonStyle | End  */